@font-face {
  font-family: "Oslo";
  src: url("fonts/Oslo_II.ttf") format('truetype');
}

@font-face {
  font-family: "Oslo-Bold";
  src: url("fonts/Oslo_II_Bold.tff") format('truetype');
}

@font-face {
  font-family: "Adler";
  src: url("fonts/Adler.ttf") format('truetype');
}

body {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
}

h1 {
  font-family: "Oslo", "Bitstream Vera Serif", serif;
  font-size: 80px;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
}

.quoteBox {
  font-family: "Adler";
  font-size: 20px;
}

button {
  font-family: "Adler";
  font-size: 26px;
}

#twitterButton {
  color: #0084b4;
}


.center-div {
  /*position: absolute;*/
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 700px;
  height: 400px;
  background-color: transparent;
  border-radius: 3px;
  display: flex;
  text-align: center;
  flex-direction: column;
}

@media (min-width: 300px) and (max-width: 700px) {
  h1 { font-size: 30px; }
  .center-div {
    width: 340px;
    position: fixed;
  }

  button {
    font-size: 14px;
  }
  .quoteBox {
    font-size: 12px;
  }
}
